body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #0a0a0a;
    color: #2d02ad;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    height: 100vh;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #2d02ad;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #2d02ad;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

.project-file {
    background-color: #1a1a1a;
    border: 2px solid #2d02ad;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.project-file:hover {
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #1a1a1a;
    padding: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #2d02ad;
}

.popup img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}

.image{
    width: 100%;
    max-width: 250px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}

.barcode-medium {
    font-family: 'Libre Barcode 128', cursive;
    font-size: 1.25em;
}

.return-container {
    margin-top: auto;
}

.return-button {
    display: block;
    padding: 10px;
    background-color: #2d02ad;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.return-button:hover {
    background-color: #ffffff;
    color: #2d02ad;
}

