body {
    background-color: #0a0a0a;
    color: #2d02ad;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #2d02ad;
}

.content {
    flex: 1;
    padding: 20px;
}

.expandable-section {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

.socials-link {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #2d02ad;
    text-decoration: none;
    transition: color 0.3s;
}

/* other fonts */
.barcode {
    font-family: 'Libre Barcode 128', cursive;
    
}

.barcode-medium {
    font-family: 'Libre Barcode 128', cursive;
    font-size: 1.25em;
}

