html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


body {
    background-color: #0a0a0a;
    color: #2d02ad;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.enter-button {
    background-color: #2d02ad;
    color: #0a0a0a;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.enter-button:hover {
    background-color: #0a0a0a;
    color: #2d02ad;
    border: 1px solid #2d02ad;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    margin: 10px 0;
}

.social-links a {
    color: #2d02ad;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #fff;
}

.return-link {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #2d02ad;
    text-decoration: none;
    transition: color 0.3s;
}

.return-link:hover {
    color: #fff;
}

.barcode {
    font-family: 'Libre Barcode 128', cursive;
    
}

.barcode-medium {
    font-family: 'Libre Barcode 128', cursive;
    font-size: 1.25em;
}

.barcode-bigger {
    font-family: 'Libre Barcode 128', cursive;
    font-size: 2em;
}

.image-container {
    margin-bottom: 20px;
}

.image-containerimg {
    width: 100%;
    max-width: 400px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}


.button-container {
    margin-top: 20px;
}

.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #2d02ad;
    text-decoration: none;
    border: 2px solid #2d02ad;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #2d02ad;
    color: #0a0a0a;
}

.image-containerimg {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
    filter: brightness(50%);
}

.sidebar {
    width: 250px;
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    height: 100vh;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #2d02ad;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #2d02ad;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

.project-file {
    background-color: #1a1a1a;
    border: 2px solid #2d02ad;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.project-file:hover {
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #1a1a1a;
    padding: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #2d02ad;
}

.popup img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}

.return-container {
    margin-top: auto;
}

.return-button {
    display: block;
    padding: 10px;
    background-color: #2d02ad;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.return-button:hover {
    background-color: #ffffff;
    color: #2d02ad;
}

#loading-screen {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
}

#terminal {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: monospace;
    color: #4d29b8;
    background-color: #0a0a0a;
    overflow-y: auto; /* Allow internal scroll if content exceeds */
    white-space: pre-wrap;
    box-sizing: border-box;
}

#loading-text {
    line-height: 1.5;
    font-size: 1.1em;
}

.hidden {
    display: none;
}